BOT_TOKEN=your_bot_token_here
ADMIN_ID=your_telegram_user_id_here
CHANNEL_ID=@your_channel_username_here
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/?appName=Cluster0
MONGO_DB_NAME=telegram_bot
